<nav class="navbar navbar-light navbar-expand-md navbar-dark bg-primary justify-content-center">
    <a href="/" class="navbar-brand d-flex w-50 mr-auto">Ecommerce App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item">
                <a  href="#"><input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"></a>
            </li>
            
        </ul>
        <!-- <ul class="nav navbar-nav ml-auto w-100 justify-content-end nav-right-color">
            <li class="nav-item pr-2">
                <a class="nav-link" href="javascript:void(0)" (click)="gotoAdmin()">Adimn</a>
            </li>
            <li class="nav-item">
              <span>{{quantity}} item(s)</span>
              <span>cart Value -{{price}}</span>

                <a class="nav-link" href="javascript:void(0)" (click)="gotoCart()"><span><i class="fa fa-shopping-cart"></i></span>Cart</a>
            </li>
            
        </ul> -->
    </div>
  </nav>

   
  <!-- second nav bar -->
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-white  pb-3">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto nav-margin nav-link-cust">
          <li class="nav-item  ml-5 ">
            <a class="nav-link " href="javascript:void(0)" [class.active]="'products'==selectedMenu" (click)="getData('products')">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" [class.active]="'orders'==selectedMenu" (click)="getData('orders')">Orders</a>
          </li>

          <li class="nav-item">
            <button type="button" class="btn btn-primary" >Logout</button>
          </li>
         
          
        </ul>
        
      </div>
    </nav>
    </div>


<div *ngIf="showProductData" class="container">

  <div class="row">
    <button style="margin:14px" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="openAddproductModel()">Add Product</button>

  </div>




    <table   class="table table-border">
        <thead>
<tr>
    <th>Id</th>
    <th>Product Name</th>
    <th>Product Price</th>
    <th>Product Category</th>
    <th>Edit</th>
    <th>delete</th>
</tr>
        </thead>
        <tbody>
         <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
             <td>{{product.name}}</td>
             <td>{{product.price |currency:usd}}</td>
             <td>{{product.category}}</td>
             <td><button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="editProduct(product)">Edit</button></td>
             <td><button class="btn btn-danger" (click)="deleteProduct(product)">Delete</button></td>

         </tr>
        </tbody>
    </table>


</div>



<div *ngIf="showOrderData" class="container">
  
  <table   class="table table-border">
    <thead>
<tr>
<th>Name</th>
<th>Address</th>
<th>City</th>
<th>State</th>
<th>Total Count</th>
<th>Total Price</th>
<th>Cart Items</th>
</tr>
    </thead>
    <tbody>
     <tr *ngFor="let order of orders">
<td>{{order.address.name}}</td>
<td>{{order.address.address}}</td>
<td>{{order.address.city}}</td>
<td>{{order.address.state}}</td>
<td>{{order.itemCount}}</td>
<td>{{order.itemPrice}}</td>

<!-- {{order.items}} -->
<!-- <td>
  <ul>
    <li *ngFor="let item of order.items">{{item.product.name}} - {{item.quantity}}</li>
  </ul>
</td> -->

<td>
<tr>
  <th>Item Name</th>
  <th>Item Quantity</th>
  <th>Item Price</th>
</tr>

<tr *ngFor="let item of order.items">
<td>{{item.product.name}}</td>
<td>{{item.quantity}}</td>
<td>{{item.product.price}}</td>
</tr>
</td>


     </tr>
    </tbody>
</table>

</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form #productForm="ngForm">
              <div class="form-group">
                <label for="name">Product Name</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="product.name" name="name">
              </div>
              <div class="form-group">
                  <label for="address">Product Price</label>
                  <input type="text" class="form-control" id="address" [(ngModel)]="product.price" name="address">
                </div>
                <div class="form-group">
                  <label for="city">Product Category</label>
                  <input type="text" class="form-control" id="category" [(ngModel)]="product.category" name="category">
                </div>
                <div class="form-group">
                  <label for="city">Product Image</label>
                  <input type="text" class="form-control" id="image" [(ngModel)]="product.image" name="image">
                </div>
                </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="showAddBtn" type="button" class="btn btn-primary" (click)="addProduct()" data-dismiss="modal">Add</button>
        <button *ngIf="showUpdateBtn" type="button" class="btn btn-primary" (click)="updateProduct()" data-dismiss="modal">Update</button>

      </div>
    </div>
  </div>
</div>